/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #00b8ff;
}

h1 {
  font-style: italic;
  color: #fff;
}
h3 {
  color: #000
}
.column {
  float: left;
}
.row {
}
.bingotweet {
  width: 20%;
}
.swtweet {
  width: 20%;
}
.panel {
  width: 60%;
}
